@font-face {
    font-family: 'Graduate';
    src: url('./fonts/Graduate/Graduate-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Indie-Flower';
    src: url('./fonts/IndieFlower/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal; 
  }
  

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    flex: 1;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #be6652;
    min-height: 10%;
    min-width: 100%;
    border-bottom: 2px solid #38555D;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c9dbe4;
    min-width: 100%;
    font-size: 24px;
    z-index: 0;
    font-family: 'Indie-Flower';
}

button {
    height: 30%;
    width: 30%;
    border-radius: 10px;
    border: none;
    background-color: #ECC3A9;
    border: 1px solid #38555D;
    overflow-wrap: anywhere;
}

.project-button, .todo-button {
    height: 50%;
    width: auto;
    font-size: 24px;
    font-family: 'Graduate';
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #38555D;
    border-radius: 5px;
    background-color: #E7834E;
    height: auto;
    width: auto;
    position: absolute;
    font-size: 24px;
    z-index: 11;
    font-family: 'Graduate';
}

.modal-project-title {
    margin: 0.5rem;
    text-align: center;
}

.project-form, .todo-form, .todo-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.6rem;
    width: 80%;
}

.todo-edit-form {
    width: 30%;
}

.hidden {
    display: none;
}

.add-project-button {
    height: 100%;
    width: 50%;
    padding: 0.5rem;
}

.project-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #be6652;
    border: 1px solid #38555D;
    border-radius: 5px;
    margin: 1rem;
}

.project-dropdown, .title, .description, .due-date, .priority, .add-todo-button  {
    width: 100%;
    text-align: center;
}

.description {
    height: 10vh;
}

.todo-div {
    margin: 0.5rem;
    margin-left: 3rem;
    background-color: #E7834E;
    border: 1px solid #38555D;
    border-radius: 5px;
}

.todo-sub {
    margin: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    border: 1px  solid #38555D;
    border-radius: 5px;
    background-color: #ECC3A9;
}

.hidden {
    display: none;
}

.todo-title-text, .project-title-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-div {
    display: flex;
}

.project-title, .todo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 0.2rem;
}

.project-dropdown-arrow:hover, .todo-dropdown-arrow:hover, .project-delete:hover, 
.todo-delete:hover, .project-update:hover, .todo-update:hover, button:hover {
    background-color: rgb(242, 255, 58);
    color: black;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

.x-button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.x-button {
    border: 1px solid #38555D;
    background-color: #be6652;
    color: white;
    width: 10%;
    margin: 0.5rem 0.5rem 0 0;
    border-radius: 0;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
    background-color: #be6652;
    border-top: 2px solid #38555D;
    min-height: 8%;
    min-width: 100%;
    font-family: 'Graduate';
    font-size: 24px;
}

.overlay {
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 11;
    position: absolute;
    opacity: 0.2;
}

.main-project-title {
    font-size: 32px;
    margin: 1rem;
    text-decoration: underline;
}

input {
    outline: none;
    border: 1px solid #38555D;
    border-radius: 10px;
}